.favorite-filter {
  margin-top: 64px;
  margin-bottom: 24px;
}

.favorite-filter-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  gap: 12px;
}

.favorite-filter-btn {
  color: rgb(5, 5, 5, 0.3);
  border: 1px solid rgb(5, 5, 5, 0.2);
  border-radius: 15px;
  padding: 14px 18px;
  font-weight: 500;
  line-height: calc(18 / 14);
  transition: background-color var(--transition-dur-and-func),
    color var(--transition-dur-and-func);
}
.favorite-filter-btn:hover,
.favorite-filter-btn:focus {
  background-color: var(--green-btn);
  color: var(--light-theme-fill);
}

@media screen and (min-width: 768px) {
  .favorite-filter {
  margin-bottom: 32px;
}
  .favorite-filter-btn {
    font-size: 16px;
    line-height: calc(20 / 16);
}
}
