.favorite-filter {
  margin-top: 64px;
  margin-bottom: 24px;
}

.favorite-filter-list {
  display: flex;
  justify-content: start;
  padding-bottom: 10px;
  gap: 12px;
  overflow-x: scroll;
  white-space: nowrap;
}
.favorite-filter-list::-webkit-scrollbar {
  height: 8px;
}

.favorite-filter-list::-webkit-scrollbar-thumb {
  border-radius: 12px;
  background-color: rgba(5, 5, 5, 0.18);
}

.favorite-filter-btn {
  background: none;
  color: var(--light-theme-main-text);
  opacity: 0.3;
  border: 1px solid var(--light-theme-main-text);
  border-radius: 15px;
  padding: 14px 18px;
  font-weight: 500;
  line-height: calc(18 / 14);
  transition: color var(--transition-dur-and-func),
    opacity var(--transition-dur-and-func),
    border-color var(--transition-dur-and-func),
    background-color var(--transition-dur-and-func);
}
.favorite-filter-btn:focus {
  background-color: var(--green-btn);
  color: var(--light-theme-fill);
  border-color: transparent;
  opacity: 1;
}
.in-focus {
  background-color: var(--green-btn);
  color: var(--light-theme-fill);
  border-color: transparent;
  opacity: 1;
}
.favorite-active-btn {
  color: var(--green-btn);
  border-color: var(--green-btn);
  opacity: 1;
}

@media screen and (min-width: 768px) {
  .favorite-filter {
    margin-bottom: 32px;
  }
  .favorite-filter-btn {
    font-size: 16px;
    line-height: calc(20 / 16);
  }
  .favorite-filter-list {
    gap: 15px;
  }
  .favorite-filter-btn:hover {
    background-color: var(--green-btn);
    color: var(--light-theme-fill);
    border-color: transparent;
    opacity: 1;
  }
}
