.favorite-recipes-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.empty-storage-wrapper {
  max-width: 335px;
  height: 100vh;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.empty-storage-text {
  text-align: center;
}

@media screen and (min-width: 768px) {
  .empty-storage-wrapper {
    max-width: 481px;
  }
  .empty-storage-text {
    font-size: 16px;
    line-height: 1.5;
  }
  .favorite-recipes-list-wrapper {
    max-width: 704px;
  }
  .favorite-recipes-list li {
    width: calc((100% - 2 * 16px) / 3);
  }
  .favorite-recipes-list {
    gap: 16px;
  }
}

@media screen and (min-width: 1200px) {
  .favorite-recipes-list-wrapper {
    max-width: 1080px;
  }
  .favorite-recipes-list li {
    width: calc((100% - 3 * 16px) / 4);
  }
  .favorite-recipes-list {
    row-gap: 32px;
  }
}
