<div class="order-now-backdrop js-backdrop">
  <div class="order-now-modal">
    <h2 class="order-now-modal__title">Order Now</h2>
    <button class="order-now-modal__close-btn" type="button">
      <svg class="order-now-modal-close__img" width="32" height="32">
        <use href="./img/sprite.svg#icon-krestik-modalka"></use>
      </svg>
    </button>
    <div class="order-now-form-wrap">
      <form class="order-now-modal-form">
        <label>
          <span class="label-name-order-now">Name</span>
          <input
            class="order-now-modal-form__input"
            name="name"
            type="text"
            value=""
            required
          />
        </label>
        <label>
          <span label-phone-order-now>Phone number</span>
          <input
            class="order-now-modal-form__input"
            type="tel"
            name="phone"
            value=""
            placeholder="+38 (000) 000 00 00"
            pattern="^\+?3?8?(0\d{9})$"
            required
          />
        </label>
        <label>
          <span label-email-order-now>Email</span>
          <input
            class="order-now-modal-form__input"
            name="email"
            type="email"
            value=""
            name="email"
            required
          />
        </label>
        <label>
          <span label-comment-order-now>Comment</span>
          <textarea class="comment-textarea" name="comment"></textarea>
        </label>
        <button type="submit">Send</button>
      </form>
    </div>
  </div>
  s
</div>
