<div class="rating-backdrop" data-modal-rating>
  <div class="rating-modal">
    <button type="button" class="rating-modal-btn" data-modal-rating-close>
      <svg class="rating-modal-btn-icon">
        <use href="/src/img/sprite.svg#icon-krestik-modalka"></use>
      </svg>
    </button>

    <div class="rating-modal-content">
      <h2 class="rating-modal-title">Rating</h2>
      <form class="rating-modal-form">
        <input
          type="email"
          name="email"
          id="rating-modal-email"
          placeholder="Enter email"
          class="rating-modal-form-input"
          required
        />
        <button type="submit" class="rating-modal-form-btn">Send</button>
      </form>
    </div>
  </div>
</div>
