<section class="hero-section-favorites">
    <div class="container">
        <div class="hero-img">
            <picture>
                <source media="(max-width:767px)" srcset="./img/favorites-mobile-1x-min.jpg 1x, ./img/favorites-mobile-2x-min.jpg 2x">
                <source media="(max-width:1279px)" srcset="./img/favorites-tablet-1x-min.jpg 1x, ./img/favorites-tablet-2x-min.jpg 2x">
                <source media="(max-width:4000px)" srcset="./img/favorites-desktop-1x.jpg 1x, ./img/favorites-desktop-2x.jpg 2x">
                <img src="./img/favorites-desktop-1x.jpg" style="width: 100%;">
            </picture>
        </div>
    </div>
</section>