<section class="favorite-recipes">
  <div class="container">
    <div class="favorite-recipes-list-wrapper">
      <ul class="favorite-recipes-list list"></ul>
      <div class="empty-storage-wrapper hiddenvisualy">
        <div class="empty-storage-wrapper-icon">
          <svg class="empty-storage-icon" width="68" height="58">
            <use href="/images/sprite.svg#icon-shefs-hat"></use>
          </svg>
        </div>
        <p class="empty-storage-text">
          It appears that you haven't added any recipes to your favorites yet.
          To get started, you can add recipes that you like to your favorites
          for easier access in the future.
        </p>
      </div>
    </div>
  </div>
</section>
