<header class="header">
  <div class="container header-container">
    <div class="header-map">
      <nav class="header-navigation">
        <ul class="list-navigation">
          <li class="page-navigation">
            <a class="page-home current" href="./index.html">Home</a>
          </li>
          <li class="page-navigation">
            <a class="page-favorites" href="./favorites.html">Favorites</a>
          </li>
        </ul>
      </nav>
      <a href="./index.html" class="header-logo">
        <span class="logo-first">testy</span>treats.
      </a>
      <div class="header-buttonbox">
        <!-- shopping-cart -->
        <a
          href="#"
          class="shopping-link"
          rel="noopener noreferrer"
          aria-label="shopping-cart"
        >
          <svg class="shopping-cart" width="24" height="24">
            <use href="/src/img/sprite.svg#icon-shopping-cart"></use>
          </svg>
        </a>
        <!-- menu-burger mobile -->
        <button
          class="header-menu-burger js-open-menu"
          type="button"
          aria-expanded="false"
          aria-controls="mobile-menu"
        >
          <svg class="icon-gamburger" width="32" height="32">
            <use href="/src/img/sprite.svg#icon-burger"></use>
          </svg>
        </button>
        <!-- TOGGLE SWITCH -->
        <div class="container-switch-header">
          <label id="switch" class="switch">
            <input type="checkbox" onchange="toggleTheme()" id="slider" />
            <span class="slider-header round"></span>
          </label>
          <!-- <button id="switch" onclick="toggleTheme()">Switch</button> -->
        </div>
      </div>
    </div>
  </div>
</header>
