<form class="js-form-home filter-form-home">
  <p class="filter-text-home">Search</p>
  <input
    class="js-input-home filter-input filter-general"
    type="search"
    placeholder="Enter Text"
    name="search"
  />
  <p class="filter-text-home">Time</p>
  <select class="js-time filter-time filter-general">
    <option class="option-general time" data-placeholder="true"></option>
  </select>
  <p class="filter-text-home">Area</p>
  <select class="js-area filter-area filter-general">
    <option class="option-general" data-placeholder="true"></option>
  </select>
  <p class="filter-text-home">Ingredients</p>
  <select class="js-product filter-product filter-general">
    <option class="option-general" data-placeholder="true"></option>
  </select>
</form>
<button class="js-reset-filter filter-btn-home">
  <span>
    <svg class="filter-icon-clear" width="16" height="16">x</svg>
  </span>
  <span class="filter-text-home">Reset the filter</span>
</button>
