.card-template {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: start;
    position: relative;
    flex-shrink: 0;
    max-width: 335px;
    height: 335px;

    overflow: hidden;
    padding: 16px;
    border-radius: 8px;
    border-radius: 8px;
}

.card-template::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-image: linear-gradient(1deg, rgba(5, 5, 5, 0.60) 0%, rgba(5, 5, 5, 0.00) 100%, lightgray 116.716% 114.018%);
    background-repeat: no-repeat;
    z-index: 1;
}

.card-template-img {
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

/* ------------info------------ */

.card-template-info {
    position: absolute;
    max-width: 303px;
    z-index: 2;
}

.card-template-title {
    margin: 0;
    margin-bottom: 8px;
    font-size: 14px;
    font-weight: 600;
    line-height: 1.28;
    text-transform: uppercase;
    color: var(--light-theme-fill);
}

.card-template-descr {
    margin: 0;
    height: 32px;
    margin-bottom: 16px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    font-size: 12px;
    font-weight: 400;
    line-height: 1.33;
    color: var(--light-theme-fill);
}

.card-template-rating-and-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-template-rating {
    color: #F8F8F8;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.28;

    color: var(--light-theme-fill);
}

.card-template-btn {
    padding: 8px 14px;
    outline: none;
    border-color: transparent;
    border-radius: 8px;
    background-color: var(--green-btn);

    color: var(--light-theme-fill);
    font-size: 12px;
    font-weight: 500;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.card-template-btn:hover,
.card-template-btn:focus {
    color: var(----light-theme-main-text);
}

/* -------------heart checkbox------------- */

.add-to-fav {
    appearance: none;
    position: absolute;
    top: 16px;
    right: 16px;
    z-index: 999;
    cursor: pointer;
}

.heart-checkbox {
    display: block;
    position: absolute;
    width: 22px;
    height: 22px;
    top: 16px;
    right: 16px;
    z-index: 999;

    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='22' height='22' viewBox='0 0 22 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath opacity='0.5' fill-rule='evenodd' clip-rule='evenodd' d='M10.9944 4.70783C9.16163 2.5652 6.10542 1.98884 3.80912 3.95085C1.51282 5.91285 1.18954 9.19323 2.99283 11.5137C4.49215 13.443 9.02961 17.5121 10.5167 18.8291C10.6831 18.9764 10.7663 19.0501 10.8633 19.0791C10.948 19.1043 11.0407 19.1043 11.1254 19.0791C11.2224 19.0501 11.3056 18.9764 11.472 18.8291C12.9591 17.5121 17.4966 13.443 18.9959 11.5137C20.7992 9.19323 20.5154 5.89221 18.1796 3.95085C15.8439 2.00948 12.8271 2.5652 10.9944 4.70783Z' stroke='%23F8F8F8' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");


}

.add-to-fav:checked+.heart-checkbox {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='22' height='22' fill='none'%3E%3Cpath fill='%23F8F8F8' fill-rule='evenodd' d='M10.994 4.708C9.162 2.565 6.105 1.988 3.81 3.95c-2.296 1.962-2.62 5.242-.816 7.563 1.5 1.929 6.037 5.998 7.524 7.315.166.147.25.221.346.25a.464.464 0 0 0 .262 0c.097-.029.18-.103.347-.25 1.487-1.317 6.025-5.386 7.524-7.315 1.803-2.32 1.52-5.622-.816-7.563-2.336-1.942-5.353-1.386-7.186.757Z' clip-rule='evenodd'/%3E%3C/svg%3E");

}

/*------------ tablet------------- */

@media screen and (min-width: 768px) {
    .card-template {
        max-width: 240px;
        height: 264px;
    }

    .card-template-info {
        max-width: 208px;
    }
}

/* ----------desktop----------- */

@media screen and (min-width: 1280px) {
    .card-template {
        max-width: 250px;
        height: 287px;
    }

    .card-template-info {

        max-width: 218px;
    }

    .card-template-btn {
        padding: 8px 16px;
    }
}