@import '/node_modules/modern-normalize/modern-normalize.css';

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

p:last-child {
  margin-bottom: 0;
}

ul,
ol,
a {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.hiddenvisualy {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

button {
  list-style: none;
  margin: 0;
  padding: 0;
  font-weight: 600;
  font-size: 14px;
  line-height: calc(17 / 14);
  text-align: center;
  border-radius: 100px;
  cursor: pointer;
}

:root {
  --light-theme-fill: #f8f8f8;
  --light-theme-main-text: #050505;
  --light-theme-switcher-btn: #cecdcd;

  --dark-theme-fill: #161616;
  --dark-theme-main-text: #ffffff;
  --dark-theme-switcher-btn: #f3f3f3;

  --green-btn: #9bb537;
  --star-primal: #eea10c;
  --star-second-light: #d9d9d9;
  --star-second-dark: #3c3b3b;

  --transition-dur-and-func: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  color: var(--light-theme-main-text);
  background-color: var(--light-theme-fill);
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28;
}

.container {
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}

@media screen and (min-width: 375px) {
  .container {
    max-width: 375px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}

@media screen and (min-width: 375px) {
  .container-mobile {
    max-width: 200px;
    min-height: 100vh;
    margin-left: auto;
    margin-right: auto;
  }
}
