@import './common.css';

/*


/* Header general*/
.header-map {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.list-navigation {
  display: flex;
  align-items: center;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.page-home {
  margin-right: 16px;
}

.header-logo {
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 1.13;
  letter-spacing: -0.64px;
}

.logo-first {
  color: var(--green-btn);
}

.head-buttonbox {
  display: flex;
  align-items: center;
}

.switch-theme {
  display: none;
}

.burger-open {
  padding: 0;
  margin: 0;
  margin-left: 14px;
  border: none;
  background: transparent;
}

.shopping-cart {
  width: 24px;
  height: 24px;
}

.icon-gamburger {
  stroke: var(--light-theme-main-text);
}

.icon-gamburger:hover,
.icon-gamburger:focus {
  stroke: var(--green-btn);
}
.header-menu-burger {
  background-color: transparent;
  padding: 0;
  border-color: transparent;
}

/* ---- HOVERS ---- */
.page-home,
.page-favorites {
  position: relative;
}

.page-home:hover,
.page-home:focus,
.page-favorites:hover,
.page-favorites:focus {
  color: var(--green-btn);
  transition: color var(--transition-dur-and-func);
}
.page-home::before,
.page-favorites::before {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 1.8px;
  left: 0;
  top: -2;
  border-radius: 4px;
  background-color: var(--green-btn);
  transform: scale(0);
  transition: transform var(--transition-dur-and-func);
}

.page-home::after,
.page-favorites::after {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 1.8px;
  left: 0;
  bottom: -2;
  border-radius: 4px;
  background-color: var(--green-btn);

  transform: scale(0);
  transition: transform var(--transition-dur-and-func);
}

.page-navigation .current {
  color: var(--green-btn);
}

.shopping-link {
  fill: none;
  stroke: rgba(5, 5, 5, 1);
}
.shopping-link:hover .shopping-cart,
.shopping-link:focus .shopping-cart {
  stroke: var(--green-btn);
  fill: none;
  transition: var(--transition-dur-and-func);
}

/* ---- MOBILE MENU ---- */

.container-mobile {
  position: fixed;
  z-index: 666;
  top: 0;
  right: 0;
  width: 200px;
  height: 100vh;
  padding-top: 200px;
  padding-left: 73px;
  padding-right: 74px;
  margin-bottom: auto;
  background-color: var(--green-btn);
  transform-origin: bottom;
  transform: scaleY(0);
  transition: transform 1000ms var(--transition-dur-and-func);
}

.container-mobile.is-open {
  transform: scaleY(1);
  transform-origin: top;
  transition: transform 1000ms var(--transition-dur-and-func);
}

.mobile-nav-link {
  color: var(--dark-theme-main-text);
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-align: center;
}

.burger-close {
  position: absolute;
  top: 20;
  right: 20;
  padding: 0;
  margin: 0;
  border: none;
  background: transparent;
}

.mobile-home-link {
  margin-bottom: 16px;
}

.mobile-nav-content {
  margin-bottom: 0;
}

.theme-light {
  --light-theme-fill: #f8f8f8;
  --light-theme-main-text: #050505;
  --light-theme-switcher-btn: #cecdcd;
}

.theme-dark {
  --dark-theme-fill: #161616;
  --dark-theme-main-text: #ffffff;
  --dark-theme-switcher-btn: #f3f3f3;
}

/* ---- BACKDROP ---- */

.backdrop {
  transition: opacity var(--transition-dur-and-func);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(46, 47, 66, 0.4);
  opacity: 1;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

@media screen and (max-width: 767px) {
  .header-container {
    padding-top: 20px;
    padding-bottom: 91px;
  }
  .head-navigation {
    display: none;
  }
  .list-navigation {
    display: none;
  }

  .shopping-cart {
    margin-right: 14px;
  }
  .container-switch-mobile {
    margin-top: 193px;

    display: flex;
    width: 46px;
    height: 20px;
    background: var(--light-theme-switcher-btn);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 24px;
  }

  /* The switch - the box around the slider */
  .switch {
    position: relative;
    display: inline-block;
    width: 46px;
    height: 20px;
  }

  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  /* The slider */
  .slider-header {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }

  .slider-header:before {
    position: absolute;
    content: '';
    height: 20px;
    width: 20px;
    left: 0px;
    bottom: 4px;
    top: 0;
    bottom: 0;
    margin: auto 0;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    box-shadow: 0 0px 15px var(--light-theme-switcher-btn);
    background: white;
    background-repeat: no-repeat;
    background-position: center;
  }

  input:checked + .slider-header {
    background-color: var(--light-theme-switcher-btn);
  }

  input:focus + .slider-header {
    box-shadow: 0 0 1px rgba(206, 205, 205, 1);
  }

  input:checked + .slider-header:before {
    -webkit-transform: translateX(24px);
    -ms-transform: translateX(24px);
    transform: translateX(24px);
    background: white;
    background-repeat: no-repeat;
    background-position: center;
  }

  /* Rounded sliders */
  .slider-header.round {
    border-radius: 24px;
  }

  .slider-header.round:before {
    border-radius: 50%;
  }

  .container-switch-header {
    display: none;
  }
  .header-buttonbox {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .header-logo {
    margin-right: 182px;
    margin-left: 0;
  }
}

@media screen and (max-width: 375px) {
  .header-logo {
    margin-right: 80px;
  }
}

@media screen and (min-width: 768px) {
  .header-container {
    padding-top: 20px;
    padding-bottom: 87px;
  }

  .list-navigation {
    font-weight: 500;
  }

  .header-logo {
    font-size: 18px;
    line-height: 1.11;
    letter-spacing: -0.72px;
  }

  .head-theme-switcher {
    display: block;
    margin-left: 18px;
  }

  .header-menu-burger {
    display: none;
  }

  .container-mobile {
    display: none;
  }
  .shopping-cart {
    margin-right: 18px;
  }
  .container-switch-header {
    display: flex;
    width: 46px;
    height: 20px;
    background: var(--light-theme-switcher-btn);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 24px;
  }

  /* The switch - the box around the slider */
  .switch {
    position: relative;
    display: inline-block;
    width: 46px;
    height: 20px;
  }

  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  /* The slider */
  .slider-header {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }

  .slider-header:before {
    position: absolute;
    content: '';
    height: 20px;
    width: 20px;
    left: 0px;
    bottom: 4px;
    top: 0;
    bottom: 0;
    margin: auto 0;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    box-shadow: 0 0px 15px var(--light-theme-switcher-btn);
    background: white;
    background-repeat: no-repeat;
    background-position: center;
  }

  input:checked + .slider-header {
    background-color: var(--light-theme-switcher-btn);
  }

  input:focus + .slider-header {
    box-shadow: 0 0 1px rgba(206, 205, 205, 1);
  }

  input:checked + .slider-header:before {
    -webkit-transform: translateX(24px);
    -ms-transform: translateX(24px);
    transform: translateX(24px);
    background: white;
    background-repeat: no-repeat;
    background-position: center;
  }

  /* Rounded sliders */
  .slider-header.round {
    border-radius: 24px;
  }

  .slider-header.round:before {
    border-radius: 50%;
  }

  .header-buttonbox {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media screen and (min-width: 1280px) {
  .header-container {
    padding-top: 42px;
    padding-bottom: 94px;
  }

  .head-theme-switcher {
    margin-left: 24px;
  }
}

@media screen and (min-width: 375px) {
  .container-mobile {
    max-width: 200px;
    min-height: 100vh;
    margin-left: auto;
    margin-right: auto;
  }
}
