  .blocks-wrapper {
      margin-bottom: 40px;
  }

  @media screen and (min-width: 768px) {
      .blocks-wrapper {
          display: flex;
          gap: 32px;
          margin-bottom: 64px;
      }
  }

  @media screen and (min-width: 1280px) {
      .blocks-wrapper {
          gap: 64px;
      }
  }


  .left-block {
      margin-bottom: 40px;
  }

  @media screen and (min-width: 768px) {
      .left-block {
          width: 176px;
          margin-bottom: unset;
      }
  }

  @media screen and (min-width: 1280px) {
      .left-block {
          width: 235px;
      }
  }