:root {
    --ss-error-color: #dc3545;
    --ss-main-height: 35px;
    --ss-content-height: 500px;
    --ss-spacing-l: 7px;
    --ss-spacing-m: 5px;
    --ss-spacing-s: 3px;
    --ss-animation-timing: 0.2s;
    --ss-border-radius: 8px;
}

@keyframes ss-valueIn {
    0% {
        transform: scale(0);
        opacity: 0;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes ss-valueOut {
    0% {
        transform: scale(1);
        opacity: 1;
    }

    100% {
        transform: scale(0);
        opacity: 0;
    }
}

.ss-hide {
    display: none !important;
}

.ss-main {
    display: flex;
    flex-direction: row;
    position: relative;
    min-height: var(--ss-main-height);
    width: 100%;
    padding: var(--ss-spacing-s);
    cursor: pointer;
    border: 1px solid rgba(5, 5, 5, 0.20);
    border-radius: var(--ss-border-radius);
    background-color: var(--light-theme-fill);
    outline: 0;
    box-sizing: border-box;
    transition: background-color var(--ss-animation-timing);
    overflow: hidden;
}

.ss-main:focus {
    box-shadow: 0 0 5px var(--green-btn);
}

.ss-main.ss-disabled {
    background-color: var(--ss-disabled-color);
    cursor: not-allowed;
}

.ss-main.ss-disabled .ss-values .ss-value .ss-value-delete {
    cursor: not-allowed;
}

.ss-main.ss-open-above {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

.ss-main.ss-open-below {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.ss-main .ss-values {
    display: inline-flex;
    flex-wrap: wrap;
    gap: var(--ss-spacing-m);
    flex: 1 1 100%;
}

.ss-main .ss-values .ss-placeholder {
    display: flex;
    /* padding: var(--ss-spacing-s) var(--ss-spacing-m) var(--ss-spacing-s) var(--ss-spacing-m); */
    /* margin: auto 0px auto 0px; */
    line-height: 1em;
    align-items: center;
    width: 100%;
    color: var(--light-theme-main-text);
    opacity: 0.5;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.ss-main .ss-values .ss-max {
    display: flex;
    user-select: none;
    align-items: center;
    width: fit-content;
    font-size: 12px;
    color: var(--dark-theme-main-text);
    line-height: 1;
    padding: var(--ss-spacing-s) var(--ss-spacing-m);
    background-color: var(--green-btn);
    border-radius: var(--ss-border-radius);
}

.ss-main .ss-values .ss-single {
    display: flex;
    margin: auto 0px auto var(--ss-spacing-s);
}

.ss-main .ss-values .ss-value {
    display: flex;
    user-select: none;
    align-items: center;
    width: fit-content;
    background-color: var(--green-btn);
    border-radius: var(--ss-border-radius);
    animation-name: ss-valueIn;
    animation-duration: var(--ss-animation-timing);
    animation-timing-function: ease-out;
    animation-fill-mode: both;
}

.ss-main .ss-values .ss-value.ss-value-out {
    animation-name: ss-valueOut;
    animation-duration: var(--ss-animation-timing);
    animation-timing-function: ease-out;
}

.ss-main .ss-values .ss-value .ss-value-text {
    font-size: 12px;
    color: var(--dark-theme-main-text);
    line-height: 1;
    padding: var(--ss-spacing-s) var(--ss-spacing-m);
}

.ss-main .ss-values .ss-value .ss-value-delete {
    display: flex;
    align-items: center;
    height: var(--ss-spacing-l);
    width: var(--ss-spacing-l);
    padding: var(--ss-spacing-s) var(--ss-spacing-m);
    cursor: pointer;
    border-left: solid 1px var(--dark-theme-main-text);
    box-sizing: content-box;
}

.ss-main .ss-values .ss-value .ss-value-delete svg {
    height: var(--ss-spacing-l);
    width: var(--ss-spacing-l);
}

.ss-main .ss-values .ss-value .ss-value-delete svg path {
    fill: none;
    stroke: var(--dark-theme-main-text);
    stroke-width: 18;
    stroke-linecap: round;
    stroke-linejoin: round;
}

.ss-main .ss-deselect {
    display: flex;
    align-self: center;
    justify-content: flex-end;
    flex: 0 1 auto;
    width: 8px;
    height: 8px;
    margin: 0 var(--ss-spacing-m) 0 var(--ss-spacing-m);
}

.ss-main .ss-deselect svg {
    width: 8px;
    height: 8px;
}

.ss-main .ss-deselect svg path {
    fill: none;
    stroke-width: 20;
    stroke-linecap: round;
    stroke-linejoin: round;
}

.ss-main .ss-arrow {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex: 0 1 auto;
    width: 12px;
    height: 12px;
    margin: auto var(--ss-spacing-m) auto var(--ss-spacing-m);
}

.ss-main .ss-arrow path {
    fill: none;
    stroke: var(--light-theme-main-text);
    opacity: 0.5;
    stroke-width: 18;
    stroke-linecap: round;
    stroke-linejoin: round;
    transition-timing-function: ease-out;
    transition: var(--ss-animation-timing);
}

.ss-content {
    position: absolute;
    display: flex;
    height: auto;
    flex-direction: column;
    width: auto;
    max-height: var(--ss-content-height);
    box-sizing: border-box;
    background-color: var(--dark-theme-main-text);
    transition: transform var(--ss-animation-timing), opacity var(--ss-animation-timing);
    opacity: 0;
    transform: scaleY(0);
    transform-origin: center top;
    overflow: hidden;
    z-index: 10000;
}

.ss-content.ss-relative {
    position: relative;
    height: 100%;
}

.ss-content.ss-open-above {
    flex-direction: column-reverse;
    opacity: 1;
    transform: scaleY(1);
    transform-origin: center bottom;
    border-top-left-radius: var(--ss-border-radius);
    border-top-right-radius: var(--ss-border-radius);
}

.ss-content.ss-open-below {
    opacity: 1;
    transform: scaleY(1);
    transform-origin: center top;
    height: 176px;
}

.ss-content .ss-search {
    flex: 0 1 auto;
    display: flex;
    flex-direction: row;
    padding: var(--ss-spacing-l) var(--ss-spacing-l) var(--ss-spacing-m) var(--ss-spacing-l);
}

.ss-content .ss-search input {
    display: inline-flex;
    font-size: inherit;
    line-height: inherit;
    flex: 1 1 auto;
    width: 100%;
    min-width: 0px;
    padding: var(--ss-spacing-m) var(--ss-spacing-l);
    margin: 0;
    border-radius: var(--ss-border-radius);
    background-color: var(--dark-theme-main-text);
    outline: 0;
    text-align: left;
    box-sizing: border-box;
    border: 1px solid rgba(5, 5, 5, 0.20);
}


.ss-content .ss-search input::placeholder {
    vertical-align: middle;  
}

.ss-content .ss-search input:focus {
    box-shadow: 0 0 5px var(--green-btn);
}

.ss-content .ss-search input::-webkit-search-cancel-button {

    -webkit-appearance: none;
}


.ss-content .ss-search .ss-addable {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    flex: 0 0 auto;
    height: auto;
    margin: 0 0 0 var(--ss-spacing-m);
    border-radius: var(--ss-border-radius);
}

.ss-content .ss-search .ss-addable svg {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex: 0 1 auto;
    width: 12px;
    height: 12px;
    margin: auto var(--ss-spacing-m) auto var(--ss-spacing-m);
}

.ss-content .ss-search .ss-addable svg path {
    fill: none;
    stroke-width: 18;
    stroke-linecap: round;
    stroke-linejoin: round;
}

.ss-content .ss-list {
    flex: 1 1 auto;
    height: auto;
    overflow-x: hidden;
    overflow-y: auto;
}

.ss-content .ss-list .ss-error {
    color: var(--ss-error-color);
    padding: var(--ss-spacing-l);
}

.ss-content .ss-list .ss-searching {
    padding: var(--ss-spacing-l);
}

.ss-content .ss-list .ss-optgroup.ss-close .ss-option {
    display: none !important;
}

.ss-content .ss-list .ss-optgroup .ss-optgroup-label {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: var(--ss-spacing-m) var(--ss-spacing-l) var(--ss-spacing-m) var(--ss-spacing-l);
}

.ss-content .ss-list .ss-optgroup .ss-optgroup-label .ss-optgroup-label-text {
    flex: 1 1 auto;
    font-weight: bold;
    color: var(--ss-font-color);
}

.ss-content .ss-list .ss-optgroup .ss-optgroup-label:has(.ss-arrow) {
    cursor: pointer;
}

.ss-content .ss-list .ss-optgroup .ss-optgroup-label .ss-optgroup-actions {
    flex: 0 1 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: var(--ss-spacing-m);
}

.ss-content .ss-list .ss-optgroup .ss-optgroup-label .ss-optgroup-actions .ss-selectall {
    flex: 0 0 auto;
    display: flex;
    flex-direction: row;
    cursor: pointer;
}

.ss-content .ss-list .ss-optgroup .ss-optgroup-label .ss-optgroup-actions .ss-selectall:hover {
    opacity: .5;
}

.ss-content .ss-list .ss-optgroup .ss-optgroup-label .ss-optgroup-actions .ss-selectall.ss-selected svg path {
    stroke: var(--ss-error-color);
}

.ss-content .ss-list .ss-optgroup .ss-optgroup-label .ss-optgroup-actions .ss-selectall span {
    flex: 0 1 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 60%;
    text-align: center;
    padding: 0 var(--ss-spacing-s) 0 0;
}

.ss-content .ss-list .ss-optgroup .ss-optgroup-label .ss-optgroup-actions .ss-selectall svg {
    flex: 0 1 auto;
    width: 13px;
    height: 13px;
}

.ss-content .ss-list .ss-optgroup .ss-optgroup-label .ss-optgroup-actions .ss-selectall svg path {
    fill: none;
    stroke: var(--green-btn);
    stroke-linecap: round;
    stroke-linejoin: round;
}

.ss-content .ss-list .ss-optgroup .ss-optgroup-label .ss-optgroup-actions .ss-selectall svg:first-child {
    stroke-width: 5;
}

.ss-content .ss-list .ss-optgroup .ss-optgroup-label .ss-optgroup-actions .ss-selectall svg:last-child {
    stroke-width: 11;
}

.ss-content .ss-list .ss-optgroup .ss-optgroup-label .ss-optgroup-actions .ss-closable {
    flex: 0 1 auto;
    display: flex;
    flex-direction: row;
    cursor: pointer;
}

.ss-content .ss-list .ss-optgroup .ss-optgroup-label .ss-optgroup-actions .ss-closable .ss-arrow {
    flex: 1 1 auto;
    width: 10px;
    height: 10px;
}

.ss-content .ss-list .ss-optgroup .ss-optgroup-label .ss-optgroup-actions .ss-closable .ss-arrow path {
    fill: none;
    stroke-width: 18;
    stroke-linecap: round;
    stroke-linejoin: round;
    transition-timing-function: ease-out;
    transition: var(--ss-animation-timing);
}

.ss-content .ss-list .ss-optgroup .ss-option {
    padding: var(--ss-spacing-s) var(--ss-spacing-s) var(--ss-spacing-s) calc(var(--ss-spacing-l)*3);
}

.ss-content .ss-list .ss-option {
    display: flex;
    padding: var(--ss-spacing-m) var(--ss-spacing-l) var(--ss-spacing-m) var(--ss-spacing-l);
    cursor: pointer;
    user-select: none;
}

.ss-content .ss-list .ss-option:hover {
    color: var(--dark-theme-main-text);
    background-color: var(--green-btn);
    border-radius: var(--ss-border-radius);
}

.ss-content .ss-list .ss-option.ss-highlighted,
.ss-content .ss-list .ss-option:not(.ss-disabled).ss-selected {
    color: var(--dark-theme-main-text);
    background-color: var(--green-btn);
    border-radius: var(--ss-border-radius);
}


/* -------------------------  МОИ filter-css  --------------------------------*/


.filter-form-home{
    display: flex;
    gap: 14px;
    flex-wrap: wrap;
}

.input-box{
    width: 335px;
}

.time-box, .area-box, .ingr-box {
    display: inline-block;
}

.filter-text-home{
    display: block;
    font-weight: 400;
    font-size: 12px;
    opacity: 0.5;
    margin-bottom: 8px;
    margin-left: 4px;
}

.reset-text{
    margin-bottom: 0px;
}


.filter-input::-webkit-input-placeholder {
    color: rgba(5, 5, 5, 0.50);
}

.filter-input::-ms-clear {
    fill:var(--green-btn)
}

.filter-time {
    width: 160px;
    height: 46px;
}

.filter-general{
    border-radius: 15px;
    border: 1px solid rgba(5, 5, 5, 0.20);
    padding: 0 15px;     
}

.filter-input {
    width: 100%;
    height: 46px;
    box-sizing: border-box;
    background-color: var(--light-theme-fill);
    padding-left: 45px;
    padding-right: 18px;
    outline: none;
    font-size: 14px;
}
   
.filter-area{
    width: 160px;
    height: 46px;
}

.filter-product{
    width: 188px;
    height: 46px;
}

.filter-btn-home{
    display: flex;
    margin-top: 14px;
    border: none;
    background-color: inherit;
    margin-left: auto;
    padding: 0px;
}

.filter-icon-search{
    opacity: .5;
}

.filter-input::-webkit-search-cancel-button {
    -webkit-appearance: none;
}

.filter-input:focus{
    box-shadow: 0 0 5px var(--green-btn);
}

input:focus+.filter-icon-search{
    fill: var(--green-btn);
    opacity: 1;
}

.filter-icon-clear{
    stroke: var(--green-btn);
}

.svg-with-input{
    position: relative;
}

.svg-with-input svg{
    position: absolute;
    top: 14px;
    left: 15px;
}

.dark-theme .filter-input{
    color: var(--dark-theme-main-text);
}

.dark-theme .filter-icon-search{
    fill: var(--dark-theme-main-text);
}

.dark-theme input:focus+.filter-icon-search{
    fill: var(--green-btn)
}

.dark-theme .filter-general,
.dark-theme .filter-input {
    background-color: var(--dark-theme-fill);
    border: 1px solid rgba(255, 255, 255, 0.20);
}

.dark-theme .ss-main .ss-values .ss-placeholder{
    color: var(--dark-theme-main-text);
}

.dark-theme .ss-content.ss-open-below{
    background-color: var(--light-theme-main-text);
}

.dark-theme .ss-content .ss-search input {
    background-color: var(--light-theme-main-text);
    color: var(--dark-theme-main-text);
    border:  solid rgba(255, 255, 255, 0.20);
}

.dark-theme .filter-text-home {
    color: var(--dark-theme-main-text);
}

.dark-theme .filter-input::-webkit-input-placeholder{
    color: rgba(255, 255, 255, 0.5);
}

.dark-theme .ss-main .ss-arrow path {
    stroke: var(--dark-theme-main-text);
}

@media screen and (min-width: 768px) {

    .filter-form-home {
        gap: 16px;
    }

   .ss-main .ss-values .ss-placeholder{
        font-size: 16px;
   }

    .input-box {
        width: 278px;
    }

    .filter-text-home {
        font-size: 14px;
    } 

    .filter-time {
        width: 115px;
        height: 48px;
        /* padding: 0 15px; */
    }

    .filter-area {
        width: 140px;
        height: 48px;
    }

    .filter-product{
        height: 48px;
    }

     .filter-input {
        width: 278px;
        height: 48px;
        font-size: 16px;
    }

    .ss-content.ss-open-below {
        height: 188px;
    }

    .ss-content .ss-list .ss-option{
        font-size: 16px;
    }

    .ss-content .ss-search input {
        font-size: 16px;
    }
    
    .ss-main .ss-values .ss-single{
        font-size: 16px;
    }
}

@media screen and (min-width: 1280px) {
  
    .filter-time {
        width: 125px;
    }
}

