/* ---- MOBILE MENU ---- */

.container-mobile {
  position: fixed;
  z-index: 666;
  top: 0;
  right: 0;
  width: 200px;
  height: 100vh;
  padding-top: 200px;
  padding-left: 73px;
  padding-right: 74px;
  margin-bottom: auto;
  background-color: var(--green-btn);
  transform-origin: bottom;
  transform: scaleY(0);
  transition: transform 1000ms var(--transition-dur-and-func);
}

.container-mobile.is-open {
  transform: scaleY(1);
  transform-origin: top;
  transition: transform 1000ms var(--transition-dur-and-func);
}

.mobile-nav-link {
  color: var(--dark-theme-main-text);
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-align: center;
}
.mobile-nav-link:hover,
.mobile-nav-link:focus {
  color: #f8f8f8;
}

.burger-close {
  position: absolute;
  top: 20;
  right: 20;
  padding: 0;
  margin: 0;
  border: none;
  background: transparent;
}

.mobile-home-link {
  margin-bottom: 16px;
}

.mobile-nav-content {
  margin-bottom: 0;
}
.switcher-toggle[type='checkbox'] {
  height: 0;
  width: 0;
  visibility: hidden;
  display: none;
}

.check-toggle {
  position: relative;
  display: block;
  width: 46px;
  height: 20px;
  border-radius: 18px;
  background-color: var(--light-theme-switcher-btn);

  cursor: pointer;
}

.check-toggle::before {
  content: '';
  position: absolute;
  top: 1px;
  left: 1px;
  width: 18px;
  height: 18px;
  border-radius: 18px;
  background-color: var(--light-theme-fill);
}

.switcher-toggle:checked + .check-toggle {
  background-color: var(--green-btn);
}

.switcher-toggle:checked + .check-toggle::before {
  left: calc(100% - 1px);
  transform: translateX(-100%);
}

.check-toggle:active::before {
  width: 44px;
}
body.show-modal-order-now .order-now-backdrop {
  opacity: 1;
  visibility: visible;
  pointer-events: initial;
}
