
.bg_modal {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 100%;
	/*bottom: 0;*/
	z-index: 3;
	background-color: #121212;
	display: flex;
	opacity: 0.5;
}

.popup_modal {
	width: 100%;
	background-color: white;
	z-index: 4;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	height: 90vh;
	border-radius: 15px;
	box-shadow: 3px 8px 23px 11px rgba(0, 0, 0, 0.42);
	padding: 20px 0px;
	color: #050505;
	margin: auto;
}
.popup_scroll {
	overflow: auto;
	max-width: 530px;
	background-color: white;
	z-index: 4;
	height: 86vh;
}
.modal_close {
	float: right;
	padding: 3px 12px 0 0;
	cursor: pointer;

}
.modal_close {
	transition: fill .4s;
}
.modal_close:hover path {
	stroke: #9BB537;
}
.modal_container {
	margin: 0 32px 32px 32px;
	font-weight: 500;
}
.modal_title {
	font-size: 18px;
	margin-bottom: 16px;
}

.modal_video {
	width: 100%;
	height: 250px;
	border-radius: 8px;
	border: none;
	margin-bottom: 16px;
}

.modal_line {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 32px;
}

.modal_tags {
	display: flex;
	justify-content: space-between;
	padding-bottom: 6px;
	border-bottom: 1px solid rgba(255, 255, 255, 0.10);
	margin-bottom: 10px;
}

.modal_tag {
	border: 1px solid #cdcdcd;
	border-radius: 35px;
	padding: 8px 16px;
	color: #050505;
}

.modal_right {
	display: flex;
}

.modal_rating {
	display: flex;
	margin-right: 8px;
}

.modal_rating>span {
	opacity: 0.5;
	margin-right: 6px;
}

.modal_time {
	opacity: 0.5;
}

.modal_ingredients {
	margin-bottom: 32px;
	
}

.modal_ingredient {
	display: flex;
	justify-content: space-between;
	padding-bottom: 6px;
	border-bottom: 1px solid rgba(5, 5, 5, 0.10);
	margin-bottom: 10px;
}

.modal_ingredient:last-of-type {
	margin-bottom: 0;
}

.modal_ingredient span:last-of-type {
	color: #828282;
}

.modal_tags {
	display: flex;
	justify-content: left;
	flex-wrap: wrap;
	gap: 4px;
	
}

.modal_description {
	margin-bottom: 40px;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.29;

}

.modal_buttons {
	/*display: flex;*/
	display: inline-flex;
	justify-content: center;
	align-items: center;
	gap: 10px;

}

.modal_buttons button {
	padding: 12px 24px;
	width: 156px;
	border: none;
	border-radius: 15px;
	letter-spacing: -0.04em;
	font-size: 14px;
	font-weight: 500;
	transition: var(--basic-transition);
}

.modal_favourite>button {
	background-color: #9BB537;
	color: #f8f8f8;
}

.modal_favourite:hover button,
.modal_favourite:focus button {
	color: #050505;
	transition: var(--transition-dur-and-func);
}

.modal_rating_button:hover button,
.modal_rating_button:focus button {
	color: #9BB537 !important;
	transition: var(--transition-dur-and-func);
}

.modal_rating_button>button {
	background-color: transparent;
	outline: 1px solid #9BB537;
}
.modal-fav-remove-btn{
	background-color: rgb(250, 112, 112) !important;
}

body.dark-theme .bg_modal {
	opacity: 0.1;
}

body.dark-theme .popup_modal {
	background-color: var(--dark-theme-fill);
	color: white;
}

body.dark-theme .popup_scroll {
	background-color: var(--dark-theme-fill);
}

body.dark-theme .modal_title {
	background-color: var(--dark-theme-fill);
	color: white;
}

body.dark-theme .modal_video {
	background-color: var(--dark-theme-fill);
	color: white;
}

body.dark-theme .modal_tag {
	background-color: var(--dark-theme-fill);
	color: white;
}

body.dark-theme .modal_ingredient {
	border-bottom: 1px solid rgba(255, 255, 255, 0.10);
}

body.dark-theme .modal_close path {
	background-color: var(--dark-theme-fill);
	stroke: white;
}

body.dark-theme .modal_close:hover path,
body.dark-theme .modal_close:focus path {
	stroke: #9BB537;
}

body.dark-theme .modal_close {
	background-color: var(--dark-theme-fill);
	color: white;
}

body.dark-theme .modal_rating_button button {
	color: white;
}




.modal_line {
	flex-direction: column;
	align-items: start;
}

.modal_right {
	margin-top: 14px;
}

.modal_tag {
	margin-bottom: 14px;

}

.modal_favourit {
	display: inline-flex;
	padding: 12px 24px;
	justify-content: center;
	align-items: center;
	gap: 10px;
}

.modal_rating {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	gap: 10px;
}

.modal_time {
	display: inline-flex;
	padding: 12px 24px;
	justify-content: center;
	align-items: center;

}

.modal_favourite>button {
	padding: 12px 6px;
}

@media screen and (min-width: 375px) {
	.popup_modal {
		width: 335px;
	}
}

/* (ширина від 768px) */
@media screen and (min-width: 768px) {
	.popup_modal {
		width: 531px;
	}
}

@media screen and (max-width: 374px){
	.modal_ingredients{
     font-size: 12px;
  }
  
  }